.breadcrumbs {
  @media (min-width: @desktop-width) {
    .list__reset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 33px;
    margin-bottom: 8px;
  }
}

.breadcrumbs__item {
  @media (min-width: @desktop-width) {
    padding: 0;
    position: relative;
  }
}

.breadcrumbs__item:not(:last-child)::after {
  @media (min-width: @desktop-width) {
    position: absolute;
    content: "";
    width: 1px;
    height: 16px;
    left: 70px;
    background-color: #ffffff;
    opacity: 0.4;
  }
}

.breadcrumbs__link {
  font-family: "GTWalsheimPro", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95), opacity 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link {
  opacity: 0.6;
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link:hover,
.breadcrumbs__item:not(:last-child) .breadcrumbs__link:focus {
  color: #acacac;
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link:active {
  opacity: 0.5;
}
