.button {
  font-family: "GTWalsheimPro", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  text-align: center;
  color: @primary-color;
  background-color: @basic-color;
  border: none;
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95), background-color 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95), opacity 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.button:hover,
.button:focus {
  background-color: #1a1716;
  outline: none;
}

.button:active {
  color: @state-color;
  background-color: @additional-color;
}
