.cart__wrapper {
  .wrapper__size;
  padding-top: 16px;
  padding-bottom: 48px;
  display: grid;
  text-align: center;

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 145px 48px 108px 48px;
  }
}
