.form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.form__list {
  .list__reset;
  display: grid;
}

.form__item {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
}

.form__item:not(:last-child) {
  border-bottom: 1px solid #e0deda;
}

.form__content {
  display: flex;
  margin-bottom: 16px;
}

.form__image-wrapper {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border: 1px solid #e0deda;
  background-color: #f5f4f2;
}

.form__image {
  padding-top: 16px;
  object-fit: cover;
}

.form__product-name {
  margin: 0;
  width: 187px;
  text-decoration: none;
  text-align: left;
}

.form__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-family: "GTWalsheimPro", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #474442;
}

.form__description {
  margin: 0;
  max-width: 153px;
  font-family: "GTWalsheimPro", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #acacac;
}

.form__product-button {
  position: relative;
  width: 48px;
  background-color: #ffffff;
  border: 1px solid #e0deda;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 2px;
    left: 17px;
    top: 36px;
    background-color: #474442;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.form__product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__info-names {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: left;
}

.form__info-names .form__info-text--hide {
  display: none;
}

.form__info-text {
  font-family: "GTWalsheimPro", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #5f5f5f;
}

.form__info-prices {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 45px;
  text-align: left;
}

.form__field,
.form__info-price {
  font-family: "GTWalsheimPro", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #474442;
}

.form__field {
  width: 56px;
  padding: 9px 16px;
  border: none;
  outline: 1px solid #e0deda;
}

.form__info-price {
  margin: 0;
  align-self: center;
  font-family: "GTWalsheimPro", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #474442;
}

.form__info-price-value {
  color: #acacac;
}
