.page {
  height: 100%;
}

.page__body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "GTWalsheimPro", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #474442;
  background-color: #ffffff;
}
