.catalog {
  width: 100%;
  margin: 0 auto;
  background-color: $primary-color;
  color: $primary-text-color;
}

.catalog__wrapper {
  padding: 34px 19px 48px 21px;

  @media (min-width: $desktop-width) {
    padding: 80px 48px 48px 48px;
  }
}

.catalog__main-content {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.catalog__filters {
  display: none;
  width: 100%;
  flex-shrink: 0;

  @media (min-width: $desktop-width) {
    width: 278px;
  }

  &--is-opened {
    display: block;
  }
}

.catalog__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  align-items: center;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 278px 1fr 278px;
    gap: 24px;
    justify-items: start;
    margin-bottom: 24px;
  }
}

.catalog__button {
  background-color: $primary-color;
  color: $primary-text-color;
  border: none;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.02em;
  position: relative;
  cursor: pointer;
  transition: opacity $default-transition;

  &:hover,
  &:focus {
    @include defaultHoverEffect;
  }

  &:active {
    @include defaultActiveEffect;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 8px;
    background-image: url('../../img/icons/arrow.svg');
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
  }

  @media (min-width: $desktop-width) {
    @include mp0;
  }
}

.catalog__button--filters::after {
  transform: translateY(-50%) rotate(-90deg);
  right: -19px;
}

.catalog__select-group {
  width: 250px;
  justify-self: end;
}

.catalog__button-sort {
  padding-left: 24px;
}

.catalog__button-sort-text {
  display: block;
  margin-right: 89px;
}

.catalog__active-filters {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    @include mp0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.catalog__active-filter-button {
  border: 1px solid $primary-border-color;
  padding: 9.5px 46px 10px 16px;
  background-color: $primary-color;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: $primary-text-color;
  position: relative;
  cursor: pointer;
  transition: opacity $default-transition;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/icons/cross.svg");
    width: 10px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
  }

  &:hover,
  &:focus {
    @include defaultHoverEffect;
  }

  &:active {
    @include defaultActiveEffect;
  }
}

.catalog__items-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 14px;
  column-gap: 7px;
  margin-bottom: 40px;
  
  @media (min-width: $desktop-width) {
    gap: 24px;
  }
}

.catalog__item {
  width: 164px;
  min-height: 260px;

  @media (min-width: $desktop-width) {
    width: 278px;
    min-height: 410px;
  }
}