$primary-color: #ffffff;
$secondary-color: #9f948f;

$primary-text-color: #474442;
$secondary-text-color: #5f5f5f;
$primary-text-color-contrast: #ffffff;
$subtle-text-color: #acacac;

$primary-border-color: #e0deda;

$primary-font: "GTWalsheimPro", sans-serif;
$secondary-font: "Forum", sans-serif;

$mobile-width: 375px;
$desktop-width: 1280px;