.footer {
  background-color: @color-white;
  padding: 0 20px 48px;
  font-family: @font-family-walsheim-pro;
  .font(14px, 15px, @color-474442);
  text-align: center;

  @media (min-width: @desktop-width) {
    padding: 31px 41px 49px;
    background-color: @background-color-f5f4f2;
  }
}

.footer__container {
  padding: 48px 0 20px;
  background-color: @color-white;
  max-width: @content-max-width;
  margin: 0 auto;
  @media (min-width: @desktop-width) {
    padding: 47px 0 11px;
  }
}

.footer__top {
  padding: 0 20px 32px;
  border-bottom: 1px solid @color-e0deda;
  @media (min-width: @desktop-width) {
    .flex(flex-start, stretch);
    padding: 0 0 32px 44px;
    border-bottom: none;
  }
}

.footer__middle {
  padding: 31px 28px 32px;

  span {
    display: block;
    font-family: @font-family-walsheim-pro;
    .font(14px, 15px, @color-474442);
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    padding: 0 28px 32px 47px;
    border-bottom: 1px solid @color-e0deda;
  }
}

.footer__bottom {
  padding: 0 22px 0;
  @media (min-width: @desktop-width) {
    .flex(space-between, center);
    padding: 14px 49px 0 46px;
  }
  a{
    .transition(opacity);

    &:hover {
      opacity: 0.5;
    }
  }
}

.footer__logo {
  display: block;
  margin-bottom: 30px;
  flex-shrink: 1;
  .transition(opacity);

  &:hover {
    opacity: 0.5;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-right: 123px;
  }
}

.footer__nav {
  .list-reset();

  p {
    font-family: @font-family-walsheim-pro;
    .font(16px, 19px, @color-474442, 700);
    margin: 0 0 9px;
    @media (min-width: @desktop-width) {
      margin-bottom: 15px;
    }
  }

  a {
    display: block;
    text-decoration: none;
    font-family: @font-family-walsheim-pro;
    .font(16px, 22px, @color-474442);
    .transition(opacity);

    &:hover {
      opacity: 0.5;
    }
  }

  a:not(:last-child) {
    margin-bottom: 10px;
    @media (min-width: @desktop-width) {
      margin-bottom: 15px;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    width: 63%;
    text-align: left;
  }
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 25px;
  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.footer__socials {
  .list-reset();
  .flex(space-between, center);
  flex-wrap: wrap;
  gap: 12px;
  max-width: 264px;
  margin: 0 auto;
  @media (min-width: @desktop-width) {
    margin: 0;
    justify-content: flex-start;
    gap: 16px;
  }
}

.footer__socials-item {
  width: 40px;
  height: 40px;
  border: 1px solid @color-e0deda;
  .flex(center, center);
  flex-shrink: 1;
  .transition(background-color);

  &:hover {
    background-color: @color-474442;
  }
  &:hover a{
    background-color: @color-white;
  }

  a {
    display: block;
    width: 19px;
    height: 19px;
  }

  &--telegram {
    a {
      mask-image: ~'url("img/stack.svg#telegram")';
      background-color: @color-474442;
    }
  }

  &--facebook {
    a {
      mask-image: ~'url("img/stack.svg#facebook")';
      background-color: @color-474442;
    }
  }

  &--instagram {
    a {
      mask-image: ~'url("img/stack.svg#instagram")';
      background-color: @color-474442;
    }
  }

  &--vkontakte {
    a {
      mask-image: ~'url("img/stack.svg#vkontakte")';
      background-color: @color-474442;
    }
  }

  &--tiktok {
    a {
      mask-image: ~'url("img/stack.svg#tiktok")';
      background-color: @color-474442;
    }
  }
}

.footer__rights {
  max-width: 100%;
  margin: 0 0 24px;
  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.footer__politics {
  display: block;
  font-family: @font-family-walsheim-pro;
  .font(14px, 15px, @color-474442);
  text-decoration: none;
  margin-bottom: 24px;
  position: relative;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    transform: translateX(-16%);
  }
}

.footer__politics::after {
  content: "";
  position: absolute;
  bottom : -1px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: @color-474442;
  display: none;
  @media (min-width: @desktop-width) {
    display: block;
  }
}
