.footer {
  background-color: @color-white;
  padding: 0 20px 48px;
  font-family: @font-family-walsheim-pro;
  .font(14px, 15px, @color-474442);
  text-align: center;

  @media (min-width: @desktop-width) {
    padding: 34px 41px 49px;
    background-color: @background-color-f5f4f2;
  }
}

.footer__container {
  padding: 48px 0 20px;
  background-color: @color-white;
  max-width: @content-max-width;
  margin: 0 auto;
  @media (min-width: @desktop-width) {
    padding: 47px 21px 11px;
  }
}

.footer__top {
  padding: 0 0 32px;
  border-bottom: 1px solid @color-e0deda;
  @media (min-width: @desktop-width) {
    .flex(space-between, stretch);
    padding: 0 7px 32px 26px;
    border-bottom: none;
  }
}

.footer__middle {
  padding: 31px 28px 32px;

  span {
    display: block;
    font-family: @font-family-walsheim-pro;
    .font(14px, 15px, @color-474442);
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    padding: 0 7px 32px 26px;
    border-bottom: 1px solid @color-e0deda;
  }
}

.footer__bottom {
  padding: 0 22px 0;
  .flex(center, center, column);
  @media (min-width: @desktop-width) {
    .flex(space-between, center, row);
    padding: 13px 28px 0 25px;
  }

  a {
    .transition(opacity);

    &:hover {
      opacity: 0.5;
    }
  }
}

.footer__logo {
  .flex(center, center);
  margin: 0 auto 30px;
  flex-shrink: 1;
  height: fit-content;
  overflow: hidden;
  .transition(opacity);

  &:hover {
    opacity: 0.5;
  }

  @media (min-width: @desktop-width) {
    margin: 0 130px 0 0;
  }
}

.footer__nav {
  .list-reset();
  .flex(flex-start, center, column);

  p {
    font-family: @font-family-walsheim-pro;
    .font(16px, 19px, @color-474442, 700);
    margin: 0 0 9px;
    @media (min-width: @desktop-width) {
      margin-bottom: 15px;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    font-family: @font-family-walsheim-pro;
    .font(16px, 22px, @color-474442);
    .transition(opacity);

    &:hover {
      opacity: 0.5;
    }
  }

  a:not(:last-child) {
    margin-bottom: 10px;
    @media (min-width: @desktop-width) {
      margin-bottom: 15px;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(auto-fill, 31%);
    column-gap: 8px;
    row-gap: 10px;
    width: 68%;
  }
}

.footer__nav-item {
  .flex(flex-start, center, column);
  @media (min-width: @desktop-width) {
    align-items: flex-start;
  }
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 25px;
  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.footer__socials {
  .list-reset();
  .flex(space-between, center);
  flex-wrap: wrap;
  gap: 12px;
  max-width: 264px;
  margin: 0 auto;
  @media (min-width: @desktop-width) {
    margin: 0;
    justify-content: flex-start;
    gap: 16px;
  }
}

.footer__socials-item {
  width: 40px;
  height: 40px;
  border: 1px solid @color-e0deda;
  .flex(center, center);
  flex-shrink: 1;
  .transition(background-color);

  a {
    height: 100%;
    width: 100%;
    .flex(center, center);
  }

  a:hover {
    background-color: @color-474442;
  }

  a:hover svg path {
    fill: @color-white;
  }
}

.footer__rights {
  max-width: 100%;
  margin: 0 0 24px;
  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.footer__politics {
  display: block;
  font-family: @font-family-walsheim-pro;
  .font(14px, 15px, @color-474442);
  text-decoration: none;
  margin-bottom: 24px;
  position: relative;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    transform: translateX(-16%);
  }
}

.footer__politics::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: @color-474442;
  display: none;
  @media (min-width: @desktop-width) {
    display: block;
  }
}
