.instagram{
  text-align: center;
  background-color: @background-color-f5f4f2;
  padding:  48px 0;
}
.instagram__title{
  font-family: @font-family-forum;
  .font(48px, 48px,#474442);
}
.instagram__link{
  display: block;
  font-family: @font-family-walsheim-pro;
  .font(20px, 24px,#5F5F5F);
  margin-bottom: 29px;
}

.instagram__button{
  .button-reset();
  width: 160px;
  height: 160px;
  background-color: @color-white;
  border-radius: 50%;
  font-family: @font-family-forum;
  .font(40px, 36px,#474442)
}

