.product-card {
  position: relative;
  padding: 0;
  margin: 0;
}

.product-card__wrapper {
  color: #474442;
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: #e0deda;
    content: '';

    @media (min-width: @desktop-width) {
      left: 48px;
      right: 48px;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 540px auto;
    column-gap: 64px;
    padding-top: 80px;
    grid-template-areas:
      "slider header"
      "slider detail";
  }
}

.product-card__slider {
  position: relative;
  min-height: 474px;
  grid-area: slider;
}

.product-card__slider-buton {
  @media (min-width: @desktop-width) {
    top: 228px;
  }
}

.product-card__slider-buton--prev {
  left: 24px;
}

.product-card__slider-buton--next {
  right: 24px;
}

.product-card__chosen-slide {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  height: 360px;
  margin-bottom: 24px;
  background-color: #F5F4F2;
  border: none;

  @media (min-width: @desktop-width) {
    left: 0;
    transform: none;
    height: 500px;
    border: 1px solid #e0deda;
  }
}

.product-card__chosen-image {
  width: auto;
  max-height: 100%;
}

.product-card__back-button {
  position: absolute;
  top: 21px;
  left: 20px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.product-card__slide-list {
  .list-reset();
  position: absolute;
  top: 384px;
  left: 0;
  right: -20px;
  display: flex;
  gap: 8px;
  overflow: hidden;

  @media (min-width: @desktop-width) {
    position: relative;
    top: 0;
    gap: 22px;
    width: 100%;
    max-height: 614px;
    padding: 0;
  }
}

.product-card__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90px;
  height: 90px;
  background-color: #f5f4f2;
  border: 1px solid #e0deda;
  cursor: pointer;
}

.product-card__slide--current {
  border-color: #474442;
}

.product-card__slide-image {
  width: auto;

}

.product-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  gap: 16px;
  grid-area: header;

  @media (min-width: @desktop-width) {
    max-width: 380px;
    align-items: start;
  }
}

.product-card__header-title {
  font-family: @forum;
  .font-sizes(32px; 38px; 400);
  margin: 0;
  letter-spacing: -0.02em;
  text-align: center;

  @media (min-width: @desktop-width) {
    .font-sizes(48px; 48px; 400);
  }
}

.product-card__header-description {
  font-family: @walsheimpro;
  .font-sizes(16px; 21px; 400);
  margin: 0;
  text-align: center;

  @media (min-width: @desktop-width) {
    text-align: start;
  }
}

.product-card__header-price {
  font-family: @walsheimpro;
  .font-sizes(24px; 28px; 500);
  margin-bottom: 8px;

  @media (min-width: @desktop-width) {
    margin-bottom: 16px;
  }
}

.product-card__header-price-currency {
  color: #acacac;
}

.product-card__header-add-button {
  font-family: @walsheimpro;
  .font-sizes(16px; 19px; 500);
  letter-spacing: -0.02em;
  width: 100%;
  padding: 19px 0;
  margin: 0;
  border: none;
  color: #ffffff;
  background-color: #474442;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: @basic-function;

  &:hover,
  &:focus {
    background-color: #1a1716;
  }

  &:active {
    color: #acacac;
    background-color: #5f5f5f;
  }
}

.product-card__detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 48px;
  grid-area: detail;
}

// * Тоже что и product-card__header-title
.product-card__detail-title {
  font-family: @forum;
  .font-sizes(32px; 38px; 400);
  margin: 0;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 4px;

  @media (min-width: @desktop-width) {
    .font-sizes(32px; 38px; 400);
    text-align: start;
  }
}

.product-card__detail-list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-card__detail-list-title {
  .font-sizes(16px; 22px; 400);
  font-family: @walsheimpro;
  letter-spacing: -0.02em;
  margin: 0;
  margin-bottom: 8px;
}

.product-card__detail-list {
  .list-reset();
}

.product-card__detail-item {
  .font-sizes(14px; 17px; 400);
  font-family: @walsheimpro;
  display: grid;
  grid-template-columns: 202px 1fr;
  column-gap: 2px;
  align-items: center;
  padding: 7px 0;
  margin-bottom: 3px;
}

.product-card__detail-name {
  color: #acacac;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2px;
}

.product-card__detail-name::after {
  position: relative;
  top: 16px;
  right: 0;
  height: 1px;
  background-color: #e0deda;
  content: '';
}

.product-card__detail-description {
  margin: 0;
}
