.subscribe {
  font-family: @font-family-walsheim-pro;
  .font(14px, 17px, @color-5f5f5f);
  text-align: center;
  margin-top: 24px;
  padding: 0 12px;
  background: @color-white linear-gradient(180deg, @color-white 47%, @background-color-f5f4f2 47% 100%) no-repeat top;
  background-size: cover;
}

.subscribe__container {
  background-color: #ffffff;
  border: 1px solid #E0DEDA;
  width: 100%;
  max-width: 982px;
  margin: 0 auto;
  padding: 24px 32px 23px;
  @media (min-width: @desktop-width) {
    padding: 48px 99px;
  }
}

.subscribe__title {
  font-family: @font-family-forum;
  .font(32px, 35px, @color-474442);
  letter-spacing: -0.02em;
  max-width: 90%;
  margin: 0 auto 9px;
  padding: 0;
  @media (min-width: @tablet-width) {
    .font-size-change(48px, 48px);
    margin-bottom: 8px;
  }
}

.subscribe__form {
  margin-bottom: 24px;
  @media (min-width: @desktop-width) {
    .flex(flex-start, center);
    margin-bottom: 33px;
  }
}

.subscribe__input, .subscribe__select {
  font-family: @font-family-walsheim-pro;
  .font(16px, 22px, @color-5f5f5f);
  padding: 18px 26px 16px 0;
  letter-spacing: -0.02em;
  border: none;
  border-bottom: 1px solid #000000;
  width: 100%;
  @media (min-width: @desktop-width) {
    padding-bottom: 14px;
  }
}

.subscribe__description {
  margin: 0 0 15px;
  max-width: 100%;
  @media (min-width: @desktop-width) {
    margin: 0 auto 40px;
  }

  br {
    display: none;
    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}

.subscribe__input{
  @media (min-width: @desktop-width) {
    padding-right: 40px;
  }
}

.subscribe__select {
  appearance: none;
  background: ~'url("img/stack.svg#select")' no-repeat top 54% right 2px;
  background-size: 14px 9px;
  @media (min-width: @desktop-width) {
    padding-right: 130px;
    background: ~'url("img/stack.svg#select")' no-repeat top 54% right -2px;
    background-size: 14px 9px;
  }
}

.subscribe__label {
  position: relative;
  display: block;
  @media (min-width: @desktop-width) {
    margin-right: 26px;
  }
}

.subscribe__label:not(:last-of-type) {
  margin-bottom: 8px;
  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.subscribe__label:last-of-type {
  margin-bottom: 32px;
  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.subscribe__error {
  position: absolute;
  left: 0;
  top: calc(100% + 12px);
  text-align: left;
  color: @color-error-e07c66;
  display: none;
}

.subscribe__label.error {
  .subscribe__input {
    .error-input-style();
  }

  .subscribe__error {
    display: block;
  }
}

.subscribe__input {
  line-height: 22px;
}

.subscribe__submit {
  background-color: #474442;
  font-family: @font-family-walsheim-pro;
  .font(16px, 19px, @color-white, 500);
  padding: 17px 82px;
  max-width: 100%;
  .two-properties-transition(background-color, color);
  @media (min-width: @desktop-width) {
    padding: 17px 98px;
  }

  &:hover {
    background-color: @color-1A1716;
    color: @color-white;
  }

  &:active {
    background-color: @color-5f5f5f;
    color: @color-acacac;
  }
}

.subscribe__agreement {
  margin: 0;
  padding: 0;
  font-family: @font-family-walsheim-pro;
  .font(14px, 17px, @color-5f5f5f);
}

.subscribe__agreement a {
  color: @color-5f5f5f;
  .transition(opacity);

  &:hover {
    opacity: 0.5;
  }
}



