.subscribe {
  font-family: @font-family-walsheim-pro;
  .font(14px, 17px, @color-5f5f5f);
  text-align: center;
  margin-top: 24px;
  padding: 0 21px;
  background: @color-white linear-gradient(180deg, @color-white 53%, @background-color-f5f4f2 53% 100%) no-repeat top;
  background-size: cover;
  @media (min-width: @desktop-width) {
    .font(16px, 21px, @color-5f5f5f);
  }
}

.subscribe__container {
  background-color: #ffffff;
  border: 1px solid #E0DEDA;
  width: 100%;
  max-width: 982px;
  margin: 0 auto;
  padding: 24px 32px 23px;
  @media (min-width: @desktop-width) {
    padding: 46px 99px 46px;
  }
}

.subscribe__title {
  font-family: @font-family-forum;
  .font(32px, 35px, @color-474442);
  letter-spacing: -0.02em;
  word-break: break-word;
  max-width: 90%;
  margin: 0 auto 7px;
  padding: 0;
  @media (min-width: @desktop-width) {
    .font-size-change(48px, 48px);
    margin-bottom: 9px;
  }
}

.subscribe__form {
  margin-bottom: 24px;
  @media (min-width: @desktop-width) {
    .flex(space-between, center);
    margin-bottom: 33px;
  }
}

.subscribe__input, .subscribe__select {
  font-family: @font-family-walsheim-pro;
  .font(16px, 22px, @color-5f5f5f);
  letter-spacing: -0.02em;
  border: none;
  border-bottom: 1px solid @color-5f5f5f;
  .two-properties-transition(border-bottom, color);
}

.subscribe__description {
  margin: 0 auto 15px;
  width: 100%;
  max-width: 560px;
  letter-spacing: 0.06px;
  @media (min-width: @desktop-width) {
    margin: 0 auto 32px;
  }
}

.subscribe__input {
  width: 100%;
  padding: 18px 26px 16px 0;

  &:focus {
    color: @color-474442;
    border-color: @color-474442;
  }

  @media (min-width: @desktop-width) {
    padding-right: 40px;
    padding-bottom: 14px;
  }
}

.subscribe__label {
  position: relative;
  display: block;
  margin-bottom: 8px;
  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-right: 22px;
    flex-basis: 33%;
  }
}

.subscribe__select {
  width: 100%;
  margin-bottom: 32px;
  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-right: 22px;
    flex-basis: 33%;
  }
}

.subscribe__select button {
  .button-reset();
  font-family: @font-family-walsheim-pro;
  .font(16px, 22px, @color-5f5f5f);
  letter-spacing: -0.02em;
  padding: 18px 26px 16px 0;
  height: 100%;

  &:active {
    color: @color-474442;
    border-color:@color-474442;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 14px;
  }
}

.subscribe__error {
  position: absolute;
  left: 0;
  top: calc(100% + 12px);
  text-align: left;
  color: @color-error-e07c66;
  display: none;
}

.subscribe__label.error {
  .subscribe__input {
    .error-input-style();
  }

  .subscribe__error {
    display: block;
  }
}

.subscribe__input {
  line-height: 22px;
}

.subscribe__submit {
  background-color: #474442;
  font-family: @font-family-walsheim-pro;
  .font(16px, 19px, @color-white, 500);
  padding: 17px 82px;
  max-width: 100%;
  .two-properties-transition(background-color, color);

  &:hover {
    cursor: pointer;
  }

  @media (min-width: @desktop-width) {
    padding: 17px 98px;
    margin-left: auto;
  }

  &:hover {
    background-color: @color-1A1716;
    color: @color-white;
  }

  &:active {
    background-color: @color-5f5f5f;
    color: @color-acacac;
  }
}

.subscribe__agreement {
  margin: 0;
  padding: 0;
  font-family: @font-family-walsheim-pro;
  .font(14px, 17px, @color-5f5f5f);
}

.subscribe__agreement a {
  color: @color-5f5f5f;
  .transition(opacity);

  &:hover {
    opacity: 0.5;
  }
}



