.swiper-wrapper {
  .flex(flex-start, center);
}

.swiper-slide {
  flex-shrink: 0;
  margin-right: 24px;
  .flex(center, center);
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  left: auto;
  display: none;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  right: auto;
  display: none;
}

.swiper-pagination {
  display: none;
}
